* {
  box-sizing: border-box;
}

:root {
  --primary-color: #81C8C2;
  --text-color: #414141;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 32px;
  border-bottom: 1px solid #aaa;
  background-color: #ffffff;
  z-index: 1000;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 48px;
}

.logo {
  width: auto;
}

.navlist {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.navitem {
  font-weight: 700;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  color: var(--text-color);
  text-transform: uppercase;
  position: relative;
}

.navitem:hover {
  color: var(--primary-color);
}

.spacer {
  flex-grow: 1;
}

main {
  margin-top: 140px;
  margin-bottom: 48px;
}

.button-gray {
  background-color: #eee;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 18px;
}

.button-black {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 18px;
}

.breadcrumb {
  margin: auto;
}

.breadcrumb > div + div:before {
  content: ">";
  padding: 0 5px;
  color: #ccc;
}

.breadcrumb > div:not(:last-of-type) {
  font-weight: 600;
}

.breadcrumb > div:last-of-type {
  font-weight: 600;
  color: #666;
}

.product-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 24px;
}

.product__info-column {
  flex: 1 1 0px;
}

.product__main-image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.product__title {
  font-size: 24px;
  font-weight: 600;
}

.product__price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.product__old-price {
  font-size: 32px;
  font-weight: 600;
  margin-top: 8px;
  color: var(--text-color);
  margin-bottom: 12px;
  text-decoration: line-through;
}

.product__price {
  font-size: 32px;
  font-weight: 600;
  margin-top: 8px;
  color: #FF594F;
  margin-bottom: 12px;
}

.order-button {
  background-color: #cc9933;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.product__description {
  white-space: pre-line;
  color: #444;
  margin-top: 24px;
  margin-bottom: 36px;
}

.product__delivery {
  margin-bottom: 36px;
}

.product__delivery i {
  font-size: 24px;
}

.divider {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-top: 48px;
  margin-bottom: 48px;
}

.product__action {
  display: flex;
  gap: 16px;
  flex-direction: row;
}

.delivery-info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.delivery-info-item__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.delivery-info-item__title i {
  font-size: 24px;
}

.delivery-info-item__description {
  font-size: 12px;
}

.divider--white {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid white;
  margin-top: 16px;
  margin-bottom: 16px;
}

.product-suggestion__wrapper {
  margin-top: 32px;
  padding: 32px 0;
}

.product-suggestion__title {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.product-suggestion__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.product-item {
  position: relative;
}

.product-item img {
  border-radius: 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}

.product-item__sale {
  background-color: rgb(218, 20, 20);
  position: absolute;
  top: 0;
  left: -2px;
  color: white;
  font-size: 12px;
  padding: 4px 24px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.product-item__info {
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-item__title {
  text-align: center;
}

.product-item__title a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.product-item__price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.product-item__old-price {
  text-decoration: line-through;
  font-size: 12px;
  color: #777;
}

.product-item__price {
  font-size: 12px;
}

footer {
  padding-top: 36px;
}

.footer-info {
  background-color: #DFDFDF3B;
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-info .container {
  display: flex;
  gap: 16px;
}

.footer-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-info-item i {
  font-size: 24px;
}

.footer-info-item div {
  font-size: 18px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 12px;
}

.footer-grid__item-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-grid__item-list {
  list-style: none;
  padding-left: 0;
}

.footer-grid__item-list li {
  cursor: pointer;
  margin-bottom: 6px;
}

.footer__info {
  white-space: pre-line;
}

.footer-grid__item-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.footer-grid__item-info i {
  padding-top: 4px;
  padding-right: 8px;
}
